* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-inline: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --header-height: 80px;
}
.banner {
  max-width: 1228px;
  max-height: 250px;
}
.banner img {
  width: 100%;
  height: 100%;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  opacity: 0.977;
  position: fixed;
  align-items: center;
  background-color: white;
  height: var(--header-height);
  justify-content: space-between;
}

.menu {
  padding: 8px;
  font-size: 28px;
  transition: 0.4s;
  box-sizing: content-box;
}

.header a {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.youtube {
  color: #ff0000;
}

.header > div {
  gap: 32px;
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.input > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search {
  font-size: 17px;
  padding-top: 8px;
  height: 35px;
  min-width: 60px;
  background-color: #aaaaaa52;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.search:hover {
  background-color: #aaaaaa86;
}

.input {
  width: 414px;
  height: 100%;
  display: flex;
  border-radius: 50px;
  align-items: center;
  border: 1px solid #303030;
}

input {
  width: 390px;
  border: none;
  outline: none;
  padding: 0px 12px;
}

.header img {
  width: 50px;
  height: 45px;
}

.menu:hover {
  border-radius: 100%;
  background: #606060b7;
}

.microphone {
  padding: 12px;
  border-radius: 100%;
  box-sizing: content-box;
  background-color: #aaaaaa52;
}

.microphone:hover {
  background-color: #aaaaaa86;
}

.header button {
  border: none;
  background-color: #aaaaaa52;
}

.create {
  gap: 4px;
  width: 111px;
  height: 40px;
  display: flex;
  font-size: 14px;
  color: #0f0f0f;
  white-space: nowrap;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: #f2f2f2;
}

.create:hover {
  background-color: #cfcdcdab;
}

.fa-bell {
  font-size: 28px;
}

aside {
  position: fixed;
  left: 0;
  padding-right: 300px;
  padding-left: 32px;
  width: 300px;
  display: flex;
  overflow-x: hidden;
  line-height: 300%;
  flex-direction: column;
  padding-top: calc(var(--header-height));
}

aside > div {
  display: flex;
  width: 280px;
  justify-content: center;
  flex-direction: column;
}

.subscriptions img {
  width: 24px;
  height: 24px;
}

aside a {
  color: #0f0f0f;
  text-decoration: none;
  font-size: 1.2rem;
}

aside hr {
  width: 90%;
}

.aside-link {
  font-size: 1.4rem;
}

main {
  display: flex;
}
.content {
  display: flex;
  flex-direction: column;
  padding-top: calc(var(--header-height) + 20px);
  margin-left: 20px;
}
.sayit--bar {
  display: flex;
  padding-left: 150px;
  align-items: center;
}

.img--koinot {
  width: 100%;
  margin-left: 0px;
  border-radius: 20px;
  height: 250px;
  object-fit: cover;
}

.content {
  padding-left: 300px;
}

.channel {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
  margin-top: 20px;
}

.channel__top {
  display: flex;
  gap: 35px;
  align-items: center;
}

.channel__logo img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
}

.channel__info h1 {
  font-size: 60px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.channel__info h1 span {
  width: 35px;
  height: 35px;
  background: #555;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.channel__stats {
  color: #666;
  margin: 10px 0;
  font-size: 18px;
}

.channel__text {
  margin-bottom: 15px;
  color: #444;
}

.channel__info a {
  color: #065fd4;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.channel__info button {
  border: none;
  background: #0f0f0f;
  color: #fff;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 16px;
}

.channel__menu {
  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 35px;
  border-bottom: 1px solid #ddd;
}

.channel__menu a {
  text-decoration: none;
  color: #555;
  padding: 15px 0;
  font-weight: 600;
}

.channel__menu .active {
  color: #000;
  border-bottom: 3px solid #000;
}

.search {
  margin-left: auto;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .channel__top {
    flex-direction: column;
    text-align: center;
  }

  .channel__info h1 {
    justify-content: center;
    font-size: 38px;
  }

  .channel__menu {
    overflow: auto;
    gap: 20px;
  }

  .search {
    display: none;
  }

  .content {
    padding-left: 0 !important;
  }
}

.video-section {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.video-card img {
  width: 100%;
  border-radius: 12px;
  display: block;
}

.video-card h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.video-card p {
  color: #666;
  font-size: 14px;
}
.video-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.shorts {
  width: 100%;
  margin-top: 40px;
}

.shorts-title {
  margin-bottom: 20px;
}

.shorts-list {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.short-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.short-card h4 {
  margin: 10px 0 5px;
  font-size: 18px;
  font-weight: 600;
}

.short-card p {
  color: #606060;
  font-size: 14px;
}

@media (max-width: 1700px) {
  .content {
  }

  .sayit--bar {
    padding-left: 50px;
  }
}

@media (max-width: 1600px) {
  .response {
    width: 70px;
    display: none;
  }

  aside {
    width: 70px;
    margin-right: 40px;
    padding-left: 0;
  }

  .response-aside {
    width: 70px;
    display: block;
  }

  hr {
    display: none;
  }
  .content {
    padding-left: 80px;
  }
}

@media (max-width: 1510px) {
  .videos {
    width: 100%;
    display: grid;
  }
}

@media (max-width: 1260px) {
  .videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .input {
    display: none;
  }
}

@media (max-width: 1110px) {
  .videos {
    display: grid;
    width: 100%;
  }
}

@media (max-width: 1028px) {
  .videos video {
    width: 100%;
  }
}

@media (max-width: 980px) {
  .videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .short-videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .input {
    display: none;
  }

  .header div {
    gap: 12px;
  }
}

@media (max-width: 790px) {
  aside {
    display: none;
    padding: 0;
  }
  .short-videos {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .videos {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .video {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .microphone {
    display: none !important;
  }
  .fa-bell {
    display: none !important;
  }

  .create p {
    display: none;
  }

  .create {
    padding: 12px;
    width: auto;
    height: auto;
  }
}
